.git
.gitignore
.gitlab-ci.yml
.github
docker-compose.yml
Dockerfile
.env
.env.example
README.md
.dockerignore
node_modules
vendor
storage/logs
storage/app
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
.DS_Store
*.md
.vscode
.idea
tests
*.log
